accelerate==1.13.0
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1767524532482/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
annotated-doc==0.0.4
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio==4.12.1
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1733753955715/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_async-timeout_1767290444/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1764875182/work
backports.zstd @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_backports.zstd_1767044984/work
biopython==1.84
biotite==0.41.2
blessed @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_blessed_1772850096/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1764016952863/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1772001073725/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1772816396005/work
click @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_click_1764518652/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1744743067588/work
cpdb-protein==0.2.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
Cython==3.2.4
diskcache @ file:///home/conda/feedstock_root/build_artifacts/diskcache_1640931331198/work
dm-tree @ file:///home/conda/feedstock_root/build_artifacts/dm-tree_1649681253781/work
docker-pycreds==0.4.0
easydict==1.9
einops @ file:///home/conda/feedstock_root/build_artifacts/einops_1681884646122/work
eval_type_backport @ file:///home/conda/feedstock_root/build_artifacts/eval_type_backport_1764679206270/work
exceptiongroup==1.3.1
fair-esm==2.0.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1772380851295/work
fire @ file:///home/conda/feedstock_root/build_artifacts/fire_1681253734022/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1765632549069/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1752167142843/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1770387778895/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1767358723114/work
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1762946744175/work
gpustat @ file:///home/conda/feedstock_root/build_artifacts/gpustat_1735134032843/work
h11==0.16.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hf-xet==1.3.2
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1773067043/work
lightning-utilities @ file:///home/conda/feedstock_root/build_artifacts/lightning-utilities_1772138211823/work
markdown-it-py==4.0.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1772444934960/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1697011295583/work
mdurl==0.1.2
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1771870608577/work
msgpack==1.1.2
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1771610691664/work
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225380409/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=51131fd8fc130cd168aecaf1bc0ea85f92e8ffebf211772ceb16ac2e7f10d7ca
nvidia-ml-py @ file:///home/conda/feedstock_root/build_artifacts/nvidia-ml-py_1769147335600/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1764614464206/work
# peft removed (LoRA support removed)
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1770794002/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1771233827/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1744524934684/work
protobuf @ file:///home/conda/feedstock_root/build_artifacts/protobuf_1772022506226/work/bazel-bin/python/dist/protobuf-6.33.5-cp310-abi3-linux_x86_64.whl#sha256=f086842d7f8812637abfcd669a9481480e49be574719f9c223675bfbb5d4b959
psutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_psutil_1769678154/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic_1764434463/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic-core_1762989015/work
Pygments==2.19.2
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
PyQt5==5.15.11
PyQt5_sip==12.17.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytorch-lightning @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pytorch-lightning_1769802510/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1770223234623/work
regex==2026.2.28
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1766926974/work
rich==14.3.3
safetensors==0.7.0
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1688116438223/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1739790642651/work/dist/scipy-1.15.2-cp310-cp310-linux_x86_64.whl#sha256=9e52bad6c3294d1a5b04a13632118ca2157130603c6c018c2d710162b223b27e
seaborn==0.13.2
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1772623000394/work
setproctitle @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_setproctitle_1766684434/work
shellingham==1.5.4
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1759437834046/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1739781697784/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1771952240620/work
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1767096303160/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tokenizers==0.14.1
toml @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_toml_1764486833/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1768146676/work
torch==2.1.2
torch-cluster @ file:///usr/share/miniconda/envs/test/conda-bld/pytorch-cluster_1697045451169/work
torch-geometric @ file:///home/conda/feedstock_root/build_artifacts/pytorch_geometric_1760592017311/work
torch-scatter @ file:///usr/share/miniconda/envs/test/conda-bld/pytorch-scatter_1696521412865/work
torch-sparse @ file:///usr/share/miniconda/envs/test/conda-bld/pytorch-sparse_1699555628068/work
torchmetrics @ file:///home/conda/feedstock_root/build_artifacts/torchmetrics_1756932631856/work
torchsummary==1.5.1
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1765836373149/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tqdm_1770153424/work
transformers==4.35.0
triton==2.1.0
typer==0.24.1
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/typing-inspection_1764158251755/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1765719872007/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1770908960326/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1767817748113/work
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1771400231226/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1770634525285/work
xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1762516176522/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1772409262719/work
